/* Coolors Exported Palette - https://coolors.co/2f4b26-3e885b-85bda6-bedcfe-c0d7bb */

/* CSS HEX */
--dark-spruce: #2f4b26ff;
--sea-green: #3e885bff;
--muted-teal: #85bda6ff;
--icy-blue: #bedcfeff;
--tea-green: #c0d7bbff;

/* CSS HSL */
--dark-spruce: hsla(105, 33%, 22%, 1);
--sea-green: hsla(144, 37%, 39%, 1);
--muted-teal: hsla(155, 30%, 63%, 1);
--icy-blue: hsla(212, 97%, 87%, 1);
--tea-green: hsla(109, 26%, 79%, 1);

/* SCSS HEX */
$dark-spruce: #2f4b26ff;
$sea-green: #3e885bff;
$muted-teal: #85bda6ff;
$icy-blue: #bedcfeff;
$tea-green: #c0d7bbff;

/* SCSS HSL */
$dark-spruce: hsla(105, 33%, 22%, 1);
$sea-green: hsla(144, 37%, 39%, 1);
$muted-teal: hsla(155, 30%, 63%, 1);
$icy-blue: hsla(212, 97%, 87%, 1);
$tea-green: hsla(109, 26%, 79%, 1);

/* SCSS RGB */
$dark-spruce: rgba(47, 75, 38, 1);
$sea-green: rgba(62, 136, 91, 1);
$muted-teal: rgba(133, 189, 166, 1);
$icy-blue: rgba(190, 220, 254, 1);
$tea-green: rgba(192, 215, 187, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #2f4b26ff, #3e885bff, #85bda6ff, #bedcfeff, #c0d7bbff);
$gradient-right: linear-gradient(90deg, #2f4b26ff, #3e885bff, #85bda6ff, #bedcfeff, #c0d7bbff);
$gradient-bottom: linear-gradient(180deg, #2f4b26ff, #3e885bff, #85bda6ff, #bedcfeff, #c0d7bbff);
$gradient-left: linear-gradient(270deg, #2f4b26ff, #3e885bff, #85bda6ff, #bedcfeff, #c0d7bbff);
$gradient-top-right: linear-gradient(45deg, #2f4b26ff, #3e885bff, #85bda6ff, #bedcfeff, #c0d7bbff);
$gradient-bottom-right: linear-gradient(135deg, #2f4b26ff, #3e885bff, #85bda6ff, #bedcfeff, #c0d7bbff);
$gradient-top-left: linear-gradient(225deg, #2f4b26ff, #3e885bff, #85bda6ff, #bedcfeff, #c0d7bbff);
$gradient-bottom-left: linear-gradient(315deg, #2f4b26ff, #3e885bff, #85bda6ff, #bedcfeff, #c0d7bbff);
$gradient-radial: radial-gradient(#2f4b26ff, #3e885bff, #85bda6ff, #bedcfeff, #c0d7bbff);